Projekt/Dokumentacja.pdf
Projekt/Kod źródłowy.zip
Projekt/Prezentacja.pptx
Projekt/Pliki wykonywalne/Algorithm.dll
Projekt/Pliki wykonywalne/ArffTools.dll
Projekt/Pliki wykonywalne/SingleNeuronVisualization.rar
